header{
    background-color: black;
    width: 100%;
    min-height: 40px;
    display: grid;
    grid-template-columns: minmax(100px, auto) minmax(100px, auto) 1fr;
    align-items: center;
    padding-left: 10px;
}

header span{
    background-color: blue;
    padding: 0.4cm;
    margin:0 0.1cm;
    color: white;
    cursor: pointer;
    transition: all 0.6s;
    font-size: large;
    
}

header span:hover{
    background-color: blueviolet;
    color: black;
}

header>div{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    margin-right:10px
}

header input[type="text"]{
    min-width: 300px;
    min-height: 30px;
    border-radius: 25px;
    padding-left: 8px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

main {
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

.film {
    padding: 1cm;
    cursor: pointer;

}

.film img{
    display: flex;
    justify-content: center;
}

.film h3{
    display: flex;
    justify-content: center;
}

